.cont {
    height: 100vh;
    width: 100vw;
    background-color: white;
    top: 0;
    overflow: hidden;
}

.container {
    display: flex;
    border-bottom: #e3e1e3 1px solid;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
    overflow: hidden;
}

.navWrapper {
    margin: 17px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.navLink {
    margin: 15px 0;
}

.navFooter {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    padding: 30px;
    border-top: #e3e1e3 1px solid;
}

.footerWrapper {
    display: flex;
    justify-content: space-evenly;
}

.button {
    background: linear-gradient(to right, #eb1484, #c81cc5);
    cursor: pointer;
    padding: 9px 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.buttonOutline {
    padding: 9px 30px;
    cursor: pointer;
    outline: none;
    color: #da18a3;
    font-weight: bold;

    border: 1px solid transparent;
    background: linear-gradient(WHITE, WHITE) padding-box,
        linear-gradient(to right, #eb1484, #c81cc5) border-box;
    border-radius: 10px;
}
