/* CSS for Profile */

.profileContainer {
    overflow-x: hidden;
}

.bannerContainer {
    position: relative;
    z-index: -1;
    height: 308px;
    overflow: hidden;
}

.bannerImage {
    width: 100%;
}

.filterInput input {
    display: block;
}

.dpandname {
    width: fit-content;
    margin-top: -104px;
    margin-left: auto;
    margin-right: auto;
}

.dp {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    overflow: hidden;
    padding: 6px;
    background-color: #24252d;
}

.dp img {
    width: 208px;
    height: 208px;
    border-radius: 50%;
}

.name {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color: #1b1a21;
    margin-top: 10px;
}

.searchContainer {
    display: flex;
    max-width: 1060px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 60px;
}

.formTextInput {
    display: flex;
    align-items: center;
    border: 1px solid #e3e1e3;
    padding: 8px 15px;
    border-radius: 10px;
}

.formTextInput input {
    border: none;
    margin-top: 2px;
    margin-left: 14px;
    width: 100%;
    outline: none;
}

.searchInput {
    width: 100%;
    margin-right: 20px;
}

.itemsContainer {
    margin-top: 30px;
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px;
}

.itemsHeading {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #1b1a21;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    justify-content: space-between;
    grid-gap: 20px;
}

.button {
    width: fit-content;
    padding: 9px 200px;
    margin: 35px auto;
    cursor: pointer;
    outline: none;
    color: #da18a3;
    font-weight: bold;

    border: 1px solid transparent;
    background: linear-gradient(WHITE, WHITE) padding-box,
        linear-gradient(to right, #eb1484, #c81cc5) border-box;
    border-radius: 10px;
}

.errContainer {
    text-align: center;
    margin: 60px 0;
}

.errHeading {
    font-size: 75px;
    font-weight: bold;
    display: inline-block;
    background: linear-gradient(to right, #eb1484, #c81cc5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nothing {
    margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
    .bannerContainer {
        height: 271px;
    }

    .bannerImage {
        width: auto;
    }

    .dpandname {
        margin-top: -60px;
    }

    .dp {
        width: 120px;
        height: 120px;
        padding: 3px;
        background-color: #24252d;
    }

    .dp img {
        width: 114px;
        height: 114px;
    }

    .name {
        font-size: 20px;
        line-height: 30px;
        margin-top: 10px;
    }

    .items {
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }

    .searchContainer {
        padding-right: 16px;
        padding-left: 16px;
        margin-top: 30px;
    }

    .searchInput {
        width: 100%;
        margin-right: 10px;
    }

    .filterInput input {
        display: none;
    }

    .itemsContainer {
        margin-top: 20px;
    }

    .itemsHeading {
        font-size: 20px;
        line-height: 30px;
    }

    .button {
        width: 300px;
        padding: 9px;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
    }
}
