.FormPage {
    font-size: 14px;
    max-width: 600px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.uploadBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    display: flex;
    margin-top: 20px;
    padding: 5%;
    border-radius: 10px;
    background: linear-gradient(
            to right,
            #888888 50%,
            rgba(255, 255, 255, 0) 0%
        ),
        linear-gradient(#888888 50%, rgba(255, 255, 255, 0) 0%),
        linear-gradient(to right, #888888 50%, rgba(255, 255, 255, 0) 0%),
        linear-gradient(#888888 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top, right, bottom, left;
    background-repeat: repeat-x, repeat-y;
    background-size: 20px 2px, 2px 20px;
}

.title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #2d2e36;
}

.input,
.textarea,
.formTextInput {
    border: 1px solid #888888;
    border-radius: 10px;
    margin-top: 20px;
    padding: 17px 25px;
    width: 100%;
    outline: none;
}

.textarea {
    resize: vertical;
}

.span {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #2d2e36;
}

.submit {
    background: linear-gradient(to right, #eb1484, #c81cc5);
    cursor: pointer;
    padding: 12px 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.buttonContainer {
    margin-top: 50px;
    margin-bottom: 108px;
    display: flex;
    flex-direction: row-reverse;
}

.label {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #2d2e36;
    margin-top: 55px;
}

.label:first-child {
    margin-top: 40px;
}

.img {
    width: 137px;
    height: 137px;
    margin: 20px auto;
}

.uploadTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #2d2e36;
    text-align: center;
}

.inputPrice {
    border: none;
    outline: none;
}

.select {
    background-color: white;
    border: none;
    outline: none;
    font-weight: 600;
    color: #888888;
}

.price {
    border: 1px #888888 solid;
    border-radius: 10px;
}

.priceIcon {
    margin-left: -40px;
    margin-top: 2px;
    pointer-events: none;
}

.formTextInput {
    display: flex;
}

.formTextInput input {
    border: none;
    width: 100%;
    outline: none;
}

.formTextInput select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
    width: 80px;
}

@media screen and (max-width: 600px) {
    .FormPage {
        margin-top: 27px;
    }

    .label {
        font-size: 20px;
        line-height: 30px;
    }

    .uploadBox,
    .uploadTitle {
        font-size: 14px;
        line-height: 21px;
    }

    .uploadTitle {
        max-width: 70%;
    }

    .buttonContainer {
        flex-direction: row;
        justify-content: center;
        margin-top: 55px;
        margin-bottom: 59px;
    }
}
