.container {
    text-align: center;
    margin: 60px 0;
    color: var(--primarytextColor);
    height: 35vh;
}

.heading {
    font-size: 120px;
    font-weight: bold;
    display: inline-block;
    background: linear-gradient(to right, #eb1484, #c81cc5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
