.modalBg {
    height: 100vh;
    width: 100vw;
    background-color: rgba(27, 26, 33, 0.671);
    display: block;
    position: fixed;
    z-index: 0;
    top: 0;
}

.modal {
    width: 586px;
    height: 581px;
    background-color: var(--primaryColor);
    color: var(--secondarytextColor);
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-top: 29px;
}

.img {
    width: 100%;
}

.closeButton {
    padding-right: 40px;
    padding-left: 40px;
    text-align: right;
    margin-top: -28px;
    filter: invert(80%);
    color: var(--primaryColor);
}

.closeButton:hover {
    color: #da18a3;
    cursor: pointer;
}

.imgContainer {
    width: 210px;
    height: 210px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.tableContainer {
    margin-top: 30px;
    border-top: 1px solid var(--secondaryGrey);
    border-bottom: 1px solid var(--secondaryGrey);
    padding: 25px 40px;
}

.buttonGroup {
    margin-top: 25px;
    text-align: center;
}

.socialMediaIconsList {
    width: 140px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.socialMediaIcons {
    height: 30px;
    margin: 4px;
    filter: invert(80%);
}

.socialMediaIcons:hover {
    filter: invert(17%) sepia(72%) saturate(6197%) hue-rotate(314deg)
        brightness(100%) contrast(112%);
    transition: 200ms ease-in;
    cursor: pointer;
}

.paymentContent {
    text-align: center;
    size: 16px;
    line-height: 24px;
    margin-top: 30px;
}

.boldBody {
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .modal {
        width: 100vw;
        top: 100vh;
        left: 0;
        transform: translate(0, -100%);
        height: 540px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .imgContainer {
        width: 180px;
        height: 180px;
    }

    .closeButton {
        padding-right: 20px;
        padding-left: 20px;
    }

    .tableContainer {
        margin-top: 25px;
        padding: 23px 40px;
    }

    .paymentContent {
        margin-top: 16px;
    }

    .buttonGroup {
        margin-top: 12px;
    }
}
