.gridCont {
    display: grid;
    grid-template-columns: 4fr 3fr;
}

.checkout {
    z-index: 2;
    position: absolute;
}

.col1 {
    text-align: center;
    border-right: var(--secondaryGrey) 1px solid;
    justify-content: center;
    padding: 50px 20px;
}

.img {
    width: 540px;
    height: 540px;
    border-radius: 20px;
}

.heart {
    height: 12px;
    width: 12px;
    filter:invert(50%);
    color:var(--primarytextColor);
    fill: var(--primarytextColor);
}

.col2 {
    padding: 40px 0 0 40px;
    width: 480px;
    color: var(--secondaryTextColor);
}

.title {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    display: grid;
    grid-template-columns: 1fr 65px;
    gap: 10px;
    color: var(--primarytextColor);
}

.likes {
    font-size: 14px;
    font-weight: 400;
    border: 0.5px solid var(--primaryGrey);
    border-radius: 40px;
    padding: 0px 15px;
    white-space: nowrap;
    max-height: 44px;
}

.icon {
    margin-right: 4px;
}

.subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--primarytextColor);
}

.strong {
    font-weight: 600;
}

.creator {
    margin: 30px 0 10px 0;
    font-size: 12px;
    color: var(--secondaryColor);
}

.creatorWrapper {
    display: flex;
    align-items: center;
    color: var(--secondaryColor);
}

.creatorImg {
    height: 54px;
    width: 54px;
    border-radius: 100%;
}

.creatorName {
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    margin-left: 8px;
}

.nav {
    margin-top: 26px;
    color: var(--primarytextColor);
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    font-size: 16px;
    font-weight: 400;
    border-bottom: var(--secondaryGrey) 1px solid;
    max-width: 423px;
}

.navItem {
    padding-bottom: 12px;
    cursor: pointer;
}

.navActive {
    font-weight: 600;
    border-bottom: var(--secondaryGrey) 1px solid;
}

.case1content {
    font-size: 16px;
    color: var(--tertiaryGrey);
    font-weight: 400;
    margin-bottom: 30px;
}

.button {
    background: linear-gradient(to right, #eb1484, #c81cc5);
    cursor: pointer;
    padding: 9px 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 45%;
    margin-right: 9%;
}

.buttonOutline {
    padding: 9px 30px;
    cursor: pointer;
    outline: none;
    color: #da18a3;
    font-weight: bold;

    border: 1px solid transparent;
    background: linear-gradient(var(--primaryColor), var(--primaryColor)) padding-box,
        linear-gradient(to right, #eb1484, #c81cc5) border-box;
    border-radius: 10px;
    width: 45%;
}

.italics {
    font-style: italic;
    color: var(--tertiaryGrey);
    text-align: center;
}

.errContainer {
    text-align: center;
    margin: 60px 0;
}

.errHeading {
    font-size: 75px;
    font-weight: bold;
    display: inline-block;
    background: linear-gradient(to right, #eb1484, #c81cc5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1200px) {
    .img {
        width: 80%;
        height: auto;
    }
    .col2 {
        padding: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .gridCont {
        grid-template-columns: 1fr 1fr;
    }
    .title {
        font-size: 22px;
    }

    .col2 {
        width: auto;
    }

    .case1content {
        font-size: 16px;
    }

    .button,
    .buttonOutline {
        font-size: 14px;
        padding: 9px 0px;
    }
}

@media only screen and (max-width: 800px) {
    .gridCont {
        grid-template-columns: 1fr;
    }

    .col1 {
        padding: 15px 0px;
    }

    .img {
        max-width: 400px;
    }
}
