.modalBg {
    height: 100vh;
    width: 100vw;
    background-color: rgba(27, 26, 33, 0.671);
    display: block;
    position: fixed;
    z-index: 0;
    top: 0;
}

.modal {
    width: 70vh;
    height: 60vh;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.title {
    font-size: 1.5rem;
    text-align: center;
    padding: 1%;
    padding-top: 3%;
    margin: 1%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.imgText {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    float: left;
    margin: 2%;
    padding: 2%;
    overflow: hidden;
}

.imageSquare {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.table {
    margin-top: 3%;
    padding: 4%;
    width: 100%;
    display: flex;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    height: 65%;
    columns: 2;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 10%;
    margin-bottom: 5%;
}

.imageRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;
    margin-bottom: 5%;
}

.hr {
    border: #e3e1e3;
}

.buttonGroup {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    background: linear-gradient(to right, #eb1484, #c81cc5);
    padding: 9px 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-right: 50%;
    margin-bottom: 5%;
    margin: 0;
}

.buttonOutline {
    padding: 9px 30px;
    outline: none;
    color: #da18a3;
    font-weight: bold;

    border: 2px solid transparent;
    background: linear-gradient(WHITE, WHITE) padding-box,
        linear-gradient(to right, #eb1484, #c81cc5) border-box;
    border-radius: 10px;
    margin-right: 50%;
}

.name {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    color: #2D2E36;
}

.description {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #2D2E36;
}


.th {
    font-family: Poppins;
    font-style: bold;
    font-weight: 600;
    font-size: 1rem;
    line-height: 30px;
    color: #2D2E36;
    margin-bottom: 3%;
}
