.modalBg {
    height: 100vh;
    width: 100vw;
    background-color: rgba(27, 26, 33, 0.671);
    display: block;
    position: fixed;
    z-index: 0;
    top: 0;
}

.modal {
    width: 586px;
    height: 480px;
    background-color: primaryColor;
    color: #2d2e36;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-top: 29px;
}

.img {
    width: 100%;
}

.imgContainer {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-right: 15px;
}

.tableContainer {
    margin-top: 30px;
    border-top: 1px solid #e3e1e3;
    border-bottom: 1px solid #e3e1e3;
    padding: 25px 40px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row > div:first-child {
    flex: 75%;
}

.imageRow {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.itemRow {
    margin-top: 35px;
    margin-bottom: 35px;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.button {
    background: linear-gradient(to right, #eb1484, #c81cc5);
    padding: 9px 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    margin-right: 20px;
}

.buttonOutline {
    padding: 7px 28px;
    outline: none;
    color: #da18a3;
    font-weight: 600;

    border: 2px solid transparent;
    background: linear-gradient(WHITE, WHITE) padding-box,
        linear-gradient(to right, #eb1484, #c81cc5) border-box;
    border-radius: 10px;
}

.boldBody {
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .modal {
        width: 100vw;
        top: 100vh;
        left: 0;
        transform: translate(0, -100%);
        height: 480px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .imgContainer {
        width: 52px;
        height: 52px;
    }

    .imageRow {
        align-items: flex-start;
    }
}
