.footerContainer {
    margin-top: 40px;
    padding: 30px 60px;
  background: radial-gradient(circle, rgb(32, 0, 23) 0%, rgb(0, 0, 0) 100%);
  @media (max-width: 600px){
    padding: 70px 30px;
    }
  }
.footerWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    color: white;
    flex-wrap: wrap;
}
.footerWrapperInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    flex: 70%;
    position: relative;
    flex-wrap: wrap;
    @media (max-width: 600px){
        flex: 100%;
        text-align: center;
    }

}
.footerAboutCol{
    flex: 30%;
    @media (max-width: 600px){
        flex: 100%;
    }
}

  .footerColumn {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
    flex: 1 0 auto;
  }



  .footerRow {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    @media (max-width: 600px){
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

}

.footerRowSocial {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 20px;
    @media (max-width: 600px){
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}

.footerRowAbout{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    @media (max-width: 600px){
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
.footerRow:hover {
    color: #ff009d;
    transition: 200ms ease-in;
    cursor: pointer;
}

.footerRowSocial:hover {
    color: #ff009d;
    transition: 200ms ease-in;
    cursor: pointer;
} 

.footerTitle {

        font-size: 24px;
        color: #fff;
        margin-bottom: 40px;
        margin-top: 40px;
        font-weight: bold;
    }

.footerImage {
    margin-left: auto;
    margin-right: auto;
}

.footerSocialMedia {
    max-height: 30%;
    max-width: 30%;
    display: inline-block;
    vertical-align: middle;
    object-fit: contain;
    filter: invert(100%) sepia(0%) saturate(1133%) hue-rotate(76deg) brightness(112%) contrast(101%);
    margin-right: 10px;
}

.footerRowSocial:hover .footerSocialMedia{
    filter: invert(17%) sepia(72%) saturate(6197%) hue-rotate(314deg) brightness(100%) contrast(112%);
    transition: 200ms ease-in;
    cursor: pointer;
}
