.footerContainer {
    margin-top: 40px;
    padding: 30px 0px;
    border: 1px solid #e3e1e3;
    border-left: #e3e1e3;
    border-right: #e3e1e3;
  background: white;
  @media (max-width: 600px){
    padding: 70px 30px;
    }
    
  }
.footerWrapper{
    padding: 0px 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    color: black;
    flex-wrap: wrap;
   
}
.footerWrapperInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    flex: 50%;
    position: relative;
    flex-wrap: wrap;
    @media (max-width: 600px){
        flex: 100%;
        text-align: center;
    }

}
.footerAboutCol{
    flex: 50%;
    @media (max-width: 600px){
        flex: 100%;
    }
}

  .footerColumn {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
    flex: 1 0 auto;
  }



  .footerRow {
    display: grid;
    padding-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    @media (max-width: 600px){
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

}

.footerRowSocial {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 20px;
    @media (max-width: 600px){
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}

.footerRowAbout{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    @media (max-width: 600px){
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
.footerRow:hover {
    color: #ff009d;
    transition: 200ms ease-in;
    cursor: pointer;
}

.footerRowSocial:hover {
    color: #ff009d;
    transition: 200ms ease-in;
    cursor: pointer;
} 

.footerTitle {

        font-size: 24px;
        color: black;
        margin-bottom: 40px;
        margin-top: 40px;
        font-weight: bold;
    }

.footerImage {
    margin-left: auto;
    margin-right: auto;
}

.footerSocialMedia {
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    object-fit: scale-down;
    margin-right: 10px;
}

.footerSocialMedia:hover{
    filter: invert(17%) sepia(72%) saturate(6197%) hue-rotate(314deg) brightness(100%) contrast(112%);
    transition: 200ms ease-in;
    cursor: pointer;
}

.copyright{
    padding: 0px 60px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
    color: black;
}

.searchContainer {
    border-radius: 10px;
    border: #e3e1e3 1px solid;
    padding: 2px 10px;
    width: 100%;
}

.searchBar {
    padding: 7px 5px 5px 5px;
    background-size: 20px;
    outline: none;
    border: none;
}

::placeholder {
    color: #888888;
    margin-top: 5px;
}

.button {
    background: linear-gradient(to right, #eb1484, #c81cc5);
    cursor: pointer;
    padding: 9px 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    position: relative;
    left: -40px
}

.footerEmailHead{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 16px;
}