@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamBoldItalic.ttf');
    font-weight: bold;
    font-style: italic, oblique;
}
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamBookItalic.ttf');
    font-style: italic, oblique;
}
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamBold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamBook.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    user-select: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: #e3e1e3;
}

::-webkit-scrollbar-thumb {
    background: #da18a3;
    border-radius: 5px;
}
