@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamBoldItalic.ttf');
    font-weight: bold;
    font-style: italic, oblique;
}
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamBookItalic.ttf');
    font-style: italic, oblique;
}
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamBold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamBook.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    user-select: none;
    text-decoration: none;
}

html {
    background-color: var(--primaryColor);
    min-height: 100vh;
}

body {
    overflow-x: hidden;
    min-height: 100vh;

}

:root {
    min-height: 100vh;
}

.light {
    --primaryColor: #fff;
    --primaryGrey: #888888;
    --borderColor: #e3e1e3;
    --primarytextColor: #1B1A21;
    --secondarytextColor: #2d2e36;
    --card-bg: #fff;
    --secondaryColor: #2D2E36;
    --formInputColor: #fff;
    --secondaryGrey: #E3E1E3;
    --tertiaryGrey: #4f4f4f;
    background-color: var(--primaryColor);
    --invert: invert(0);
    --seller-card-border: #e3e1e3;
    --navSearchBG: #fff;
    --dashedborder: invert(57%) sepia(3%) saturate(10%) hue-rotate(8deg) brightness(93%) contrast(92%);
}

.dark {
    --primaryColor: #24252D;
    --primaryGrey: #ffffff;
    --borderColor: #2D2E36;
    --primarytextColor: #fff;
    --secondarytextColor: #fff;
    --card-bg: #2A2D3A;
    --secondaryColor: #fff;
    --formInputColor: #2d2e36;
    --secondaryGrey: #2D2E36;
    --tertiaryGrey: #fff;
    background-color: var(--primaryColor);
    --invert: invert(100%) sepia(96%) saturate(15%) hue-rotate(212deg) brightness(104%) contrast(104%);
    --seller-card-border: #2A2D3A;
    --navSearchBG: #1B1A21;
    --dashedborder: invert(100%) sepia(96%) saturate(15%) hue-rotate(212deg) brightness(104%) contrast(104%);
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: #e3e1e3;
}

::-webkit-scrollbar-thumb {
    background: #da18a3;
    border-radius: 5px;
}

